<app-nav></app-nav>

<ion-content class="ion-align-items-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Login
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
          <ion-col>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel
                         required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login
            </ion-button>
          </ion-col>
          <ion-row>
            <ion-text>
              If you don't have an account, please <a routerLink='/register'>
              register</a> first!
            </ion-text>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
