<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" routerLink="/">
      <ion-text>Sane </ion-text>
      <ion-text color="primary">Stack</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
